/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  color: white;
}

h1, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

.flex-container {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: black;
  text-align: left;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header span {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

/* Main Banner */

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
  position: relative;
}

/* Navigation Bar */

nav {
  background-color: firebrick;
  padding: 0.75rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Products Section */

.products {
display: flex;
justify-content: space-between;
margin: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  max-height: 9rem;
  padding: 2rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

.description {
  display: block;
  background-color: black;
  padding: 0.5rem;
  text-align: center;
}

/* Info Section */

.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

.info span {
  color: black;
}

/* Footer */

footer {
  padding: 5rem;
  text-align: left;
  background-color: black;
  margin-top: 4rem;
}
